$font-family_primary: 'Roboto',sans-serif, Arial, 'Trebuchet MS', 'Comic Sans MS';
$font-family_logo: 'Shrikhand',sans-serif, Arial, 'Trebuchet MS';
$grey_color: #424040, #808080, #8b8a8a, #dbd8d8, #f2f0f0, ;
$purple_color:#f1ecfa;
$primary_color: #9356dc;
$secondary_color: #ff79da;
$third_color: #99e2d0;
$font_title: 2.6rem;
$background_color:(button:nth($grey_color, 5), button_three:nth($purple_color,1), function_text:nth($grey_color, 5), function_text_three:nth($purple_color,1));
$font-size:(header_logo:4rem, location_place:1.7rem, location_icon:2rem, header_intro:$font_title,
 header_explication:1.5rem, header_link:1.4rem, functions_title:$font_title, functions_progress:1.6rem,
  functions_number:1rem, functions_li:1.3rem, function_icon:1.9rem, food_icon:1.7rem, restaurants_block:$font_title,
   card:0.9rem, card_title:1.8rem, card_location:1.3rem, card_preference:2rem, footer_logo:2rem, footer_nav:1.5rem);

@mixin space-icon ($space){
    margin-right: $space;
}

@mixin background-color_grey($number){
    background-color: nth($grey_color,$number);
}
@mixin button_brightness_change($color){
    filter: brightness(1.08);
    box-shadow: 0.4rem 0.4rem 0.3rem $color;
}
/*extensions*/
.functions_text{
    width: 93%;
    padding: 2.4rem 1.5rem 2.4rem 0;
    margin: 2rem 2.3rem 2rem 1rem;
    border-radius: 2rem;
    border: 0.1rem solid nth($grey_color, 4);
    box-shadow: 0.4rem 0.4rem 0.3rem nth($grey_color, 2);
}
/*End of extensions*/
body{
    font-family: $font-family_primary;
}

.header{
    border: 0.1rem solid nth($grey_color, 5);
    box-shadow: 0.6rem 0.6rem 0.3rem nth($grey_color, 3);
    position: center;
    text-align: center;
    @include background-color_grey(5);
    padding: 2rem 0 6rem 0;
    &__logo{
        font-family: $font-family_logo;
        font-size: map-get($font-size, header_logo);
        margin-top: 2.5rem;
        line-height: 0rem;
    }
    &__location{
        color: nth($grey_color,1);
        height: 6rem;
        font-weight: 500;
        @include background-color_grey(4);
        box-shadow:(inset 0 0.3rem  0.4rem nth($grey_color,3));
        display: flex;
        justify-content: center;
        align-content: flex-start;
        margin-bottom: 2rem;
        .location__place{
            font-size: map-get($font-size, location_place);
        }
        i{
            font-size: map-get($font-size, location_icon);
            padding-right: 1rem;
            padding-top: 1.8rem;
        }
    }
    &__intro{
        font-size: map-get($font-size, header_intro);
        text-shadow: 0.3rem 0.3rem 0.3rem nth($grey_color, 2);
    }
    &__explication{
        font-size: map-get($font-size, header_explication);
        font-weight: 400;
        margin-bottom: 4rem;
    }
    button{
        color: white;
        font-size: map-get($font-size, header_link);
        font-weight: 500;
        text-decoration: none;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        line-height: 2rem;
        border-radius: 3rem;
        border: 0rem;
        background: linear-gradient(180deg, $secondary_color, $primary_color);
        box-shadow: 0.2rem 0.2rem 1rem nth($grey_color, 3);
        transform: scale(1);
        transition: transform 150ms cubic-bezier(.02,.25,0,.58) 150ms;
        cursor: pointer;
        &:active{
            transform: scale(0.85);
        }
    }    
}

.container{
    box-sizing: border-box;
}

aside{
    margin: 0 2rem 0 2rem;
}

.functions{
    &__title{
        font-size: map-get($font-size, functions_title);
        margin: 2.6rem 0 0 2.6rem;
        text-decoration: underline $third_color;
    }
    &__progress{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        font-size: map-get($font-size, functions_progress);
        font-weight: 600;
        &__button, &__button_third{
            width: 60%;
            height: 7rem;
            padding: 0rem 1.5rem 0rem 0;
            margin: 2rem 2.3rem 2rem 1rem;
            border:0rem;
            border-radius: 2rem;
            background-color: map-get($background_color, button);
            box-shadow: 0.2rem 0.2rem 1rem nth($grey_color, 2);
            cursor: pointer;
            &_third{
                background-color: map-get($background_color, button_three);
            }
        }
        &__button:hover, &__button_third:hover{
            
        }
            i{
                padding: 0 2.3rem 0 1rem;
            }
        &_third{
            width: 60%;    
        }
        .function_number{
            position: absolute;
            width: 1%;
            font-size: map-get($font-size, functions_number);
            font-weight: 400;
            color: white;
            border: 0.2rem solid $primary_color;
            border-radius: 3rem;
            background-color: $primary_color;
            padding: 0.4rem 0.4rem 0.3rem 0.6rem;
            margin: -2rem 0 0 28%;
        }
        .function_text{
            text-align: center;
            @include background-color_grey(5);
        }
        .function_text_three{
            text-align: center;
            background-color: map-get($background_color,function_text_three);
        }
        li{
            font-size: map-get($font-size, functions_li);
            font-weight: 600;
        }
        i{
            color: nth($grey_color, 2);
            margin-left: 2.5rem;
            font-size: map-get($font-size, function_icon);
        }
    }
}

section{
    @include background-color_grey(5);
    border: 0.1rem solid nth($grey_color,5);
}

.restaurants_block{
    margin: 1.7rem 2rem 1rem 2rem;
    &__title{
        font-size: map-get($font-size, restaurants_block);
        text-decoration: underline $third_color;
    }
}

.restaurants_box{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 48%;
    height: 22rem;
    font-size: map-get($font-size, card);
    margin-bottom: 2.7rem;
    background-color: white;
    border-radius: 20px;
    border: 0.2rem solid nth($grey_color, 3);
    box-shadow: 0.5rem 0.5rem 0.3rem nth($grey_color, 2);
    transform: scale(1);
    transition: all 200ms cubic-bezier(.02,.25,0,.58) 150ms;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0.5rem 0.5rem 0.8rem nth($grey_color, 2);
        border: 0.3rem solid $third_color;
        &:active{
            transform: scale(1.02);
            box-shadow: 0.4rem 0.4rem 0.23rem nth($grey_color, 2);
        }
    }
    &__image{ 
        img{
            width: 100%;
            height: 17rem;
            border-radius: 20px 20px 0 0 ;
        }
    }    
    a{
        text-decoration: none;
        color: black;
    }
    &__descri{
        display:flex;
        justify-content: space-between;
    }
    &__description{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 0rem;
        padding-left: 1rem;
    }
    &__title{
        font-size: map-get($font-size, card_title);
    }
    &__location{
        font-size: map-get($font-size, card_location);
    }
    &__preference{
        color: nth($grey_color, 2);
        font-size: 2rem;
        margin: 1rem 3rem 3rem 0;
    }
    &__preference{
        position: relative;
        color: nth($grey_color, 2);
        font-size: 2rem;
        margin: 1rem 3rem 3rem 0;
        &--no-active{
            position: absolute;
            z-index: 1;
        }
        &--active{
            position:absolute;
            background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: opacity 750ms cubic-bezier(.02,.25,.73,.23) 25ms;   
        }
        
        &:hover .card__preference{
            &--no-active{
                position: absolute;
                padding-bottom: 3rem;
                z-index: -1;
            }
            &--active{
                position:absolute;
                padding-bottom: 3rem;
                background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 1;                
            }
        }
    }
}

.footer{
    color: white;
    padding-left: 1.3rem;
    border: 0.1rem solid nth($grey_color,1);
    @include background-color_grey(1);
    &__logo{
        font-family: $font-family_logo;
        font-size: map-get($font-size, footer_logo);
        padding-left: 1rem;
        padding: 2rem 0 0.5rem 1rem;
        line-height: 0rem;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        font-size: map-get($font-size, footer_nav);
        font-weight: 350;
        list-style-type: none;
        margin: 0.5rem 5rem 2rem 2rem;
        padding-left: 1rem;
        line-height: 2.2rem;
        cursor: pointer;
        &__proposal i{
            @include space-icon(1rem);
        }
        &__partnership i{
            @include space-icon(0.4rem);
        }
        &__proposal, &__partnership, &__mentions{
            &:hover{
                color: $third_color;
            }
        }
        &__contact{
            a{
                color: white;
            }
            :hover{
                color: $primary_color;
            }
        }
    }
}