@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


.header{
    background-color: white;
    width: 100%;
    height: 72vw;

    &__logo{
        text-align: center;
        font-family: $font-family_particular;
        font-size: map-get($font-size_mmf, header_logo);
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 0rem;
    }
    &__icon{
        position: absolute;
        font-size: map-get($font-size_mmf, header_icon);
        margin-left: 2rem;
    }
    &__image
        img{
        width: 100%;
        }
}

.menu-block{
    position: relative;
    z-index: 1;
    background-color: nth($grey_color, 5);
    border-radius: 3rem 3rem 0 0;
    border: 0.15rem solid nth($grey_color,2);
}

.menu{
    margin: 0 1.5rem 7rem 1.5rem;
    box-sizing: border-box;
    &__title-box{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        &__title{
            font-family: $font-family_particular;
            font-size: map-get($font-size_mmf, title-box_title);
        }
        &__preference{
            font-size: map-get($font-size_mmf, title-box_icon);
            color: black;
            cursor: pointer;
            &--no-active{
                position: absolute;
                top: 2.4rem;
                right: 2rem;
                z-index: 1;
                opacity: 1;
                transition: opacity 750ms cubic-bezier(.02,.25,.73,.23) 25ms;
            }
            &--active{
                position:absolute;
                top: 2.4rem;
                right: 2rem;
                background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
                background: -ms-linear-gradient(180deg, $secondary_color, $primary_color);
                background-clip: text;
                -webkit-background-clip: text;
                -ms-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 750ms cubic-bezier(.02,.25,.73,.23) 25ms;   
            }
            &:active .menu__title-box__preference{
                &--no-active{
                    position: absolute;
                    top: 2.4rem;
                    right: 2rem;
                    opacity: 0;
                }
                &--active{
                    position:absolute;
                    top: 2.4rem;
                    right: 2rem;
                    background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
                    background: -ms-linear-gradient(180deg, $secondary_color, $primary_color);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -ms-background-clip: text;
                    color: transparent;
                    opacity: 1;                
                }
            }
        }
    }
    &__order{
        position: relative;
        color: white;
        font-size: map-get($font-size_mmf, menu_link);
        font-weight: map-get($font-weight_mmf, menu_order);
        text-decoration: none;
        padding: 1.5rem;
        border: 0rem;
        top: 3rem;
        left: 31%;
        line-height: 2rem;
        border-radius: 3rem;
        background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(180deg, $secondary_color, $primary_color);
        box-shadow: 0.2rem 0.2rem 1rem nth($grey_color, 2);
        cursor: pointer;
    }    
    &__order:hover{
        @include button_brightness_change(nth($grey_color, 2))
    }
}

.category
    .title{
        @include text_transform;
        font-weight: map-get($font-weight_mmf, category_title);
        padding-left: 0.7rem;
        position: relative;
        line-height: 3.7rem;
        &::before{
            content:"";
            position: absolute;
            width: 0.4rem;
            height: 2.7rem;
            bottom: 0.5rem;
            left: 0rem;
            border-left: 0.4rem solid $third_color;
        }
    }    

.food{
    width: 100%;
    height: 8.4rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    border: 0.15rem solid nth($grey_color, 4);
    cursor: pointer;
    border-radius: 1.6rem;
    margin-bottom: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem nth($grey_color, 2);
    overflow: hidden;     
    &__description{
        width: 84%;
        padding-left: 0.6rem;
        padding-right: 0rem;
        transition: width 350ms cubic-bezier(.02,.25,0,.58) 25ms;
        &__title{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: map-get($font-size_mmf, food_title);
            font-weight: map-get($font-weight_mmf, food_title);
        }
        
        &__subtitle{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: map-get($font-size_mmf, food_subtitle);
            font-weight: map-get($font-weight_mmf, food_subtitle);   
        }                
    }
    &:active .food__description{
        width:64%;
    }
    &__specif{
        display: flex;
        &__price{
            font-size: map-get($font-size_mmf, food_price);
            font-weight: map-get($font-weight_mmf, food_price);
            margin-top: 4.8rem;
            padding-right: 2rem;
        }
        &__check{
            color: white;
            background-color: $third_color;
            font-size: map-get($font-size_mmf, food_icon);
            height: 8.4rem;
            width: 6.7rem;
            margin-right: -7.1rem;
            padding: 2.7rem 0 0 2.1rem;
            position: relative;
            transition: margin-right 350ms cubic-bezier(.02,.25,0,.58) 25ms;
            & i{
                transform: rotate(-360deg);
                transition: transform 690ms;
            }
        }

    }
    &:active .food__specif__check{
        margin-right: -0.4rem;
        & i{
            transform: rotate(0deg);
        }
    }
    animation: button_food $button_food-dur both cubic-bezier(.02,.25,.73,.23); 
    @for $i from 1 through $button_food-number{
         &--#{$i}{
            animation-delay: $button_food-delay*$i;
        }
    }
} 
@keyframes button_food{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}    

.footer{
    color: white;
    padding-left: 1.3rem;
    border: 0.1rem solid nth($grey_color,1);
    background-color: nth($grey_color,1);
    &__logo{
        font-family: $font-family_particular;
        font-size: map-get($font-size_mmf, footer_logo);
        padding-left: 1rem;
        line-height: 0rem;
    }
    &__nav{
        font-size: map-get($font-size_mmf, footer_nav);
        font-weight: map-get($font-weight_mmf, footer_nav);
        list-style-type: none;
        margin-left: 0;
        padding-left: 1rem;
        line-height: 2.2rem;
        &__proposal
            i
            {
                margin-right: 1rem;
            }
        &__partnership
            i
            {
                margin-right: 0.4rem;
            }
        &__contact{
            a{
                color: white;
            }
            :hover{
                color: $primary_color;
            }
        }
    }
}