
$font-family_primary: 'Roboto',sans-serif, Arial, 'Trebuchet MS', 'Comic Sans MS';
$font-family_particular: 'Shrikhand',sans-serif, Arial, 'Trebuchet MS';
$grey_color: #424040, #808080, #8b8a8a, #dbd8d8, #f6f4f4, ;
$purple_color:#f1ecfa;
$primary_color: #9356dc;
$secondary_color: #ff79da;
$third_color: #99e2d0;
$background-color_mt:(function_text:nth($grey_color, 5), function_text_three:nth($purple_color,1));
$font-weight_mt: (category_title:500, food_title:500, food_subtitle:300, food_price:700, nav:300, link:500);
$font_title: 2.2rem;
$font-size_mt: (header_logo:4rem, header_icon:2rem, title-box_title:2.6rem, title-box_icon:2.4rem, 
category_title:2.4rem, menu_link:1.9rem, food_title:2.2rem, food_subtitle:1.9rem, food_price:1.6rem, 
food_icon:1.9rem, footer_logo:2rem, footer_nav:1.5rem);
$button_food-number_mt: 4;
$button_food-dur_mt: 850ms;
$button_food-delay_mt: 930ms;

*, ::after,::before{
    box-sizing: border-box;
}

/*extensions*/
.clickable_button{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: map-get($font-size_mt, menu_link);
    padding: 1.5rem;
    line-height: 2rem;
    border-radius: 3rem;
    border: 0rem;
    background: linear-gradient(180deg, $secondary_color, $primary_color);
    box-shadow: 0.2rem 0.2rem 1rem nth($grey_color, 3);
    transform: scale(1);
    transition: transform 150ms cubic-bezier(.02,.25,0,.58) 150ms;
    cursor: pointer;
    &:active{
        transform: scale(0.85);
    }
}
/*End of extensions*/

@mixin text_transform {
    text-transform: uppercase;
}
@mixin space-icon($space) {
    margin-right: $space;
}

body{
    font-family: $font-family_primary;
    box-sizing: border-box;
}

.header{
    background-color: white;
    width: 100%;
    height: 71vw;

    &__logo{
        position: center;
        text-align: center;
        font-family: $font-family_particular;
        font-size: map-get($font-size_mt, header_logo);
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 0rem;
    }
    &__icon{
        position: absolute;
        font-size: map-get($font-size_mt, header_icon);
        margin-left: 2.2rem;
        border: 0.1rem solid $secondary_color;
        border-radius: 3rem;
        padding: 0.4rem;
        background: linear-gradient(180deg, $secondary_color, $primary_color);
        transition: transform 350ms cubic-bezier(.33,.04,.17,.99) 100ms;
        cursor: pointer;
        &:hover{
            transform: scale(1.09);
        }
    }
    &__image
        img{
        width: 100%;
        }
}

.menu-block{
    position: relative;
    z-index: 1;
    background-color: nth($grey_color, 5);
    border-radius: 3rem 3rem 0 0;
    border: 0.1rem solid nth($grey_color, 3);
    box-shadow: 0.5rem -0.5rem 1rem nth($grey_color, 2), -0.5rem -0.5rem 1rem nth($grey_color, 2), inset -0.5rem 0rem 1rem nth($grey_color, 2);
}

.menu{
    margin: 0 1.5rem 7rem 1.5rem;
    box-sizing: border-box;
    &__title-box{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        margin-bottom: 1rem;
        &__title{
            font-family: $font-family_particular;
            font-size: map-get($font-size_mt, title-box_title);
            padding-left: 1.5rem;
        }
        &__preference{
            color: black;
            font-size: map-get($font-size_mt, title-box_icon);
            margin: 2rem 3rem 0 0;
        }
        &__preference{
            position: relative;
            color: black;
            &--no-active{
                position: absolute;
                z-index: 1;
                opacity: 1;
                transition: opacity 750ms cubic-bezier(.02,.25,.73,.23) 25ms;
            }
            &--active{
                position:absolute;
                background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 750ms cubic-bezier(.02,.25,.73,.23) 25ms;   
            }
            &:hover .menu__title-box__preference{
                &--no-active{
                    position: absolute;
                    opacity: 0;
                }
                &--active{
                    position:absolute;
                    background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    opacity: 1;                
                }
            }
        }
    }
    &__order{
        position: relative;
        top: 3rem;
        left: 36.5%;
        @extend .clickable_button;      
    }
}

.category
    .title{
        @include text_transform;
        font-size: map-get($font-size_mt, category_title);
        text-align: center;
        font-weight: map-get($font-weight_mt, category_title);
        position: relative;
        margin-top: 3.75rem;
        line-height: 3.7rem;
        text-shadow: (0.5rem -0.4rem 0.4rem nth($grey_color,2));
        &::after{
            content:"";
            position: absolute;
            width: 5.6rem;
            height: 0.5rem;
            bottom: 0;
            left: 45%;
            border-bottom: 0.4rem solid $third_color;
        }
    }

.food{
    width: 100%;
    height: 11.7rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 1.6rem;
    margin-bottom: 1.9rem;
    box-shadow: 0.2rem 0.2rem 0.5rem nth($grey_color, 3);
    transition: background-color 220ms cubic-bezier(.33,.04,.17,.99) 100ms, box-shadow 450ms cubic-bezier(.33,.04,.17,.99) 250ms;
    overflow: hidden;
    &:hover{
        background-color: $third_color;
        box-shadow: 0.4rem 0.4rem 0.7rem nth($grey_color,2);
    }    

    &__description{
        width: 84%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 0.6rem;
        padding-right: 0rem;
        transition: width 350ms cubic-bezier(.02,.25,0,.58) 25ms;
        &__title{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: map-get($font-size_mt, food_title);
            font-weight: map-get($font-weight_mt, food_title);
        }
        &__subtitle{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: map-get($font-size_mt, food_subtitle);
            font-weight: map-get($font-weight_mt, food_subtitle);
        }
    }
    &:hover .food__description{
        width:64%;
    }
    &__specif{
        display: flex;
        &__price{
            font-size: map-get($font-size_mt, food_price);
            font-weight: map-get($font-weight_mt, food_price);
            margin: 6.3rem 3rem 0rem 0;
        }
        &__check{
            color: $third_color;
            background-color: white;
            box-shadow: -0.8rem -0.8rem 1rem white, 0.8rem 0.8rem 1rem white, 
            inset -0.8rem -0.8rem 1rem white, inset 0.8rem 0.8rem 1rem white;
            font-size: 2.5rem;
            height: 12.9rem;
            width: 6.7rem;
            margin-right: -7.1rem;
            padding-top: 3.5rem;
            position: relative;
            transition: margin-right 560ms cubic-bezier(.02,.25,0,.58) 25ms;
            overflow: hidden;
            & i{
                transform: rotate(-360deg);
                transition: transform 850ms;
            }
        }

    }
    &:hover .food__specif__check{
        margin-right: -0.4rem;
        & i{
            transform: rotate(0deg);
        }
    }
    animation: button_food_mt $button_food-dur_mt both cubic-bezier(.02,.25,.73,.23); 
    @for $i from 1 through $button_food-number_mt{
         &--#{$i}{
            animation-delay: $button_food-delay_mt*$i;
        }
    }
} 
@keyframes button_food_mt{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(0.8);
        animation-timing-function: cubic-bezier(.55,.07,.58,.99);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

    

.footer{
    color: white;
    padding-left: 1.3rem;
    border: 0.1rem solid nth($grey_color,1);
    background-color: nth($grey_color,1);
    &__logo{
        font-family: $font-family_particular;
        font-size: map-get($font-size_mt, footer_logo);
        padding-left: 1rem;
        line-height: 0rem;
    }
    &__nav{
        font-size: map-get($font-size_mt, footer_nav);
        font-weight: 300;
        list-style-type: none;
        margin-left: 0;
        padding-left: 1rem;
        line-height: 2.2rem;
        cursor: pointer;
        &__proposal i{
            @include space-icon(1rem);
        }        
        &__partnership i{
            @include space-icon(0.4rem);
        }    
        &__proposal, &__partnership, &__mentions{
            &:hover{
                color: $third_color;
            }
        }   
        &__contact{
            a{
                color: white;
            }
            :hover{
                color: $primary_color;
            }
        }
    }
}