@keyframes turn-anim-button{
    0%{
        background: -webkit-linear-gradient(0deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(0deg, $secondary_color, $primary_color);
        animation-duration: 150ms;
    }
    3%{
        background: -webkit-linear-gradient(12deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(12deg, $secondary_color, $primary_color);
        animation-duration: 148ms;
    }
    5%{
        background: -webkit-linear-gradient(18deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(18deg, $secondary_color, $primary_color);
        animation-duration: 145ms;
    }
    7%{
        background: -webkit-linear-gradient(25deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(25deg, $secondary_color, $primary_color);
        animation-duration: 142ms;
    }
    10%{
        background: -webkit-linear-gradient(36deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(36deg, $secondary_color, $primary_color);
        animation-duration: 135ms;
    }
    13%{
        background: -webkit-linear-gradient(48deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(48deg, $secondary_color, $primary_color);
        animation-duration: 130ms;
    }
    17%{
        background: -webkit-linear-gradient(61deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(61deg, $secondary_color, $primary_color);
        animation-duration: 115ms;
    }
    21%{
        background: -webkit-linear-gradient(75deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(75deg, $secondary_color, $primary_color);
        animation-duration: 90ms;
    }
    25%{
        background: -webkit-linear-gradient(90deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(90deg, $secondary_color, $primary_color);
        animation-duration: 75ms;
    }
    30%{
        background: -webkit-linear-gradient(106deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(106deg, $secondary_color, $primary_color);
        animation-duration: 90ms;
    }
    35%{
        background: -webkit-linear-gradient(122deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(122deg, $secondary_color, $primary_color);
        animation-duration: 110ms;
    }
    39%{
        background: -webkit-linear-gradient(136deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(136deg, $secondary_color, $primary_color);
        animation-duration: 127ms;
    }
    43%{
        background: -webkit-linear-gradient(151deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(151deg, $secondary_color, $primary_color);
        animation-duration: 135ms;
    }
    47%{
        background: -webkit-linear-gradient(167deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(167deg, $secondary_color, $primary_color);
        animation-duration: 148ms;
    }
    50%{
        background: -webkit-linear-gradient(180deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(180deg, $secondary_color, $primary_color); 
        animation-duration: 150ms; 
    }
    54%{
        background: -webkit-linear-gradient(194deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(194deg, $secondary_color, $primary_color);
        animation-duration: 148ms;
    }
    58%{
        background: -webkit-linear-gradient(207deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(207deg, $secondary_color, $primary_color);
        animation-duration: 142ms;
    }
    64%{
        background: -webkit-linear-gradient(221deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(221deg, $secondary_color, $primary_color);
        animation-duration: 130ms;
    }
    65%{
        background: -webkit-linear-gradient(232deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(232deg, $secondary_color, $primary_color);
        animation-duration: 112ms;
    }
    70%{
        background: -webkit-linear-gradient(250deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(250deg, $secondary_color, $primary_color);
        animation-duration: 90ms;
    }
    75%{
        background: -webkit-linear-gradient(-90deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-90deg, $secondary_color, $primary_color);
        animation-duration: 75ms;
    }
    81%{
        background: -webkit-linear-gradient(-72deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-72deg, $secondary_color, $primary_color);
        animation-duration: 90ms;
    }
    87%{
        background: -webkit-linear-gradient(-51deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-51deg, $secondary_color, $primary_color);
        animation-duration: 115ms;
    }
    91%{
        background: -webkit-linear-gradient(-33deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-33deg, $secondary_color, $primary_color);
        animation-duration: 125ms;
    }
    93%{
        background: -webkit-linear-gradient(-26deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-26deg, $secondary_color, $primary_color);
        animation-duration: 132ms;
    }
    95%{
        background: -webkit-linear-gradient(-18deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-18deg, $secondary_color, $primary_color);
        animation-duration: 145ms;
    }
    98%{
        background: -webkit-linear-gradient(-6deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(-6deg, $secondary_color, $primary_color);
        animation-duration: 148ms;
    }
    100%{
        background: -webkit-linear-gradient(0deg, $secondary_color, $primary_color);
        background: -ms-linear-gradient(0deg, $secondary_color, $primary_color);
        animation-duration: 150ms;
    }
}